* {
    box-sizing: border-box;
  }

  /*The main variable roots*/
:root {
  --brown: rgb(31, 13, 13);
  --light-mint: rgb(136, 165, 155);
  --dark-mint: rgb(88, 107, 100);
}
  
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--brown);
}
  
a {
    text-decoration: none;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 10px;
    color: var(--light-mint);
}
  
  a:hover {
    color: #3486eb;
  }

h2{
  background-color: var(--brown);
  color: var(--light-mint);
  margin:0px;
  margin-top: 10px;
}
  
  button {
    border: 0;
    padding: 1%;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }

  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: var(--brown);
    color:var(--brown);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    padding: 0 1%;
  }

/*homepage screen css*/

.navbar{
  padding-top: 10px;
  padding-bottom: 10px;
}

#main_title{
    background-color: var(--light-mint);
    font-size: 25px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px;
    border-radius: 10px;
    box-shadow:3px 3px var(--dark-mint);
}
  
main {
  background-color:var(--light-mint);
  flex: 1;
  padding: 2% 4%;
}

/*Sign up form css*/
.signup-form{
  border: var(--brown);
  border-style: solid;
  padding-top: 20px;
}

.title{
  padding:10px;
}

/*login css*/
.login-form{
  border: var(--brown);
  border-style: solid;
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;

}

/* So button has no style*/  
  .btn-no-style{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }

  /*for the new post form*/
  .new-post-form {
    margin-top: 10px;
  }

  #post-content{
    width: 100%;
    height: 150px;
  }
  
  .not_look_like_btn{
    background-color: unset;
    color:whitesmoke;
    margin-left: 0px;
  }

  /*comments*/
  #comment_number{
    color:var(--brown);
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }

.card {
  margin-bottom: 1em;
  margin-top: 1em;
  border-style: solid;
}

.card-content{
  margin-left: 10px;
}

.is-pulled-right{
  padding-top: 15px;
  color: var(--brown);
}

.rows{
      display:flex;
      flex-direction: column;
}